body {
    background-color: skyblue;
}
#container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'hd hd hd'
    'as mn mn'
    'ft ft ft';
    grid-template-rows: 10% auto 5% 5%;;
}



header {
    grid-area: hd;
    background-color: white;
    text-align: center;
    font-size: 60px;
    color: black;
}

main {
    grid-area: mn;
    background-color: skyblue;
}

aside {
    grid-area: as;
    background-color: white;
    color: black;
    font-size: 20px;
    
    
}

p {
    width: 500px;
}


aside a {
    display:block
}


footer {
    grid-area: ft;
    background-color: white;
    color: black;
    text-align: center;
    
}

#text {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}

img {
    width: 20cm;
   
}

a {
    color: black;
}
